.divSimpleSearch {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

.simpleSearch {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 2rem;
    border-radius: 2rem;
    padding-left: 1rem;
    border: solid 3px black;
    margin-right: 5px;
}

.btnLupa {
    width: 5%;
}
.icoLupa{
    width: 100%;
}


.contentMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 4rem;
    margin-left: 4rem;
    /*border: solid orangered;*/
}

/*INICIO - CARTA DE PRODUCTO */
.productCard {
    background-color: #cb9874;
    border: solid black;
    border-radius: 2rem;
    width: 30%;
    /* Ajusta el ancho según tus necesidades */
    margin: 0.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.productCard .product {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8rem;
    /*border: solid white;*/
}

.productCard .product .imgProduct {
    padding: 0.5rem 0.5rem;
    width: 7rem;
    height: 7rem;
    /*border: solid blueviolet;*/
}

.productCard .product .imgProduct img {
    width: 100%;
    height: 100%;
    /*border: solid black;*/
}

.productCard .product .namePrice_Product {
    text-align: end;
    width: 60%;
    /*border: solid red;*/
}

/*FIN - CARTA DE PRODUCTO */


/*INICIO - BOTONES: EDITAR & ELIMINAR */
.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons a {
    width: 45%;
    text-align: center;
    border: solid 3px black;
    border-radius: 3rem;
    color: black;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons .btnBuy {
    background-color: rgba(128, 255, 0, 0.774);
}

.buttons .btnAddBasket {
    background-color: rgba(255, 0, 0, 0.753);
}

/*FIN - BOTONES: EDITAR & ELIMINAR */



/*---------------------------------------------------*/


/*//////////////////////////////////////////////////////////////////////*/