*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.space3{
    border: solid green;
}

body{
    background-color: rgb(221, 221, 221);
}

/*/*barra de navegacion/*/
.navbarMain{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #bb693d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid black;
}

.contentNavbar{
    text-align: center;
    list-style: none;
    padding: 1rem;
    position: relative;
    width: 50%;
    color: #FFD7AB;
    /*border: solid royalblue;*/
}
.contentNavbar li{
    display: inline-block;
    padding: 1rem;
    border-radius: 5rem;
    transition: all ease-in-out 250ms;
    position: relative;
}
.contentNavbar li:hover{
    background: #FFD7AB;
    color: #bb693d;
}
.contentNavbar li a{
    color: #FFD7AB;
    text-decoration: none;
}
.contentNavbar li a:hover{
    color: #bb693d;
}

.dropdown-menu {
    background: #bb693d;
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 0.5rem 0; /* Añadido para dar un poco de espacio alrededor de los elementos del menú */
    margin: 0;
    border-radius: 0.5rem; /* Añadido para dar bordes redondeados al menú desplegable */
    border: solid black;
    width: 100%;
}

.dropdown-menu li {
    display: block; /* Cambia la visualización a bloque para que cada opción se muestre en una línea */
    width: 100%; /* Ajusta el ancho al 100% para ocupar todo el espacio disponible */
}
.dropdown-menu li a {
    display: block; /* Cambia la visualización a bloque para que cada opción se muestre en una línea */    
}
.contentNavbar li:hover .dropdown-menu {
    display: block;
    color: #bb693d;
}

.funcionesUsuario {
    width: 40%;
    display: flex;
    justify-content: center;
    /*flex-direction: column;*/
    flex-direction: row;
    align-items: center;
    /*border: red solid;*/
}
.funcionesUsuario h3{
    margin: 2rem;
    color: #FFD7AB;
    /*border: red solid;*/
}

.divFunciones img {
    width: auto;
    height: 2.5rem;    
    padding: 5px;
    /*
    margin-left: 1rem;
    margin-right: 1rem;
*/
}
.divFunciones img:hover{
    /*color: #874421;*/
    background: #FFD7AB;
    border-radius: 1rem;
    transition: all ease-in-out 350ms;
}


/*/*Fin barra de navegacion/*/