.divContentBox{
    width:  45%;
    margin:3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    border: solid black;
}

.divContentBox h2, .divContentBox h3{
text-align: center;
}

.lockIcon{
    margin-top: 1rem;
    width: 15%;

}

.recuperaContraForm, .actualizarContraForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*border: solid orangered;*/
}
.divMessage{
    background: #bb693d;
    border-radius: 3rem;
    color: #FFD7AB;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: solid black;
}


.buscaForm, .updContraForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: rgb(190, 43, 43) solid;*/
}

.buscaForm input{
    width: 75%;
    border: solid 3px black;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /*font-family:'Buxton Sketch';*/
}


.divRespuesta{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid yellowgreen;*/
}

.divRespuesta input{
    width: 90%;
    border: solid 3px black;
    border-radius: 10px;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 2.5rem;
    font-size: 1rem;
    
}
.divRespuesta img{
    position: absolute;
    margin-left: 16%;
    width: 1.5%;
    height: auto;
    /*border: solid black;*/
}



.frmButtons{
    display: flex;
    flex-direction: row;
}

.frmButtons .btn{
    border: solid 3px black;
    border-radius: 10px;
    background-color: rgb(221, 194, 41);

    font-family:'Buxton Sketch';
    text-decoration: none;
    color: black;
    font-size: 1rem;

    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn:hover{
    background-color: rgb(255, 153, 0);
}


#lblPregunta{
    font-size: 1.5rem;
}


/*---------------------------------------------------*/
/*
h1{
    text-align: center;
    font-style: oblique;
    border: solid 4px;
    border-radius: 30px;
    padding: 1rem;
    width: 40%;
    font-size: 2rem;
    background-color: rgb(221, 194, 41);
}
*/






/*//////////////////////////////////////////////////////////////////////*/
/* Responsive(> 1024px) */
@media (max-width: 1024px) {
    .loginForm {
        width: 50%;
    }
    
    h1 {
        width: 50%;
    }
    
    input {
        width: 75%;
    }
    button {
        width: 100%;
    }
}

/* Responsive(> 768px) */
@media (max-width: 768px) {
    .loginForm {
        width: 50%;
    }
    
    h1 {
        width: 80%;
    }
    
    input {
        width: 100%;
    }
    button {
        width: 100%;
    }
}
