.divContentFrmR{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /*background: #bb693d;*/
    background-color: #f0eae7;
    padding-top: 2rem;
    border-radius: 2rem;
    border: rgb(0, 0, 0) solid;
}


.frmRegistro{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


.divForm{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 2rem;
    /*border: rgb(226, 99, 14) solid;*/
}


.formInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /*border: rgb(40, 216, 24) solid;*/
}
.formInputs input{
    width: 85%;
    border: solid 3px black;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /*font-family:'Buxton Sketch';*/
}
.formInputs select{
    width: 85%;
    height: auto;
    border: solid 3px black;
    border-radius: 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    /*font-family:'Buxton Sketch';*/
}


.divPassR{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: solid rgb(216, 74, 23);*/
}
.divPassR input{
    width: 100%;
    padding-left: 1rem;
    padding-right: 2rem;    
}
.divPassR img{
    position: absolute;
    margin-left: 14.5%;
    width: 1.5%;
    height: auto;
    /*border: solid black;*/
}



.divSexRdb{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    border: solid #f0eae7;
}
.rdbOption{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: solid rgb(221, 221, 221);*/
}
.rdbOption label{
font-size: 15px;
}


.divTyC{
    margin-top: 0.5rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: solid rgb(14, 68, 104);*/
}


/*---------------------------------------------------*/
/*.h1{
    text-align: center;
    font-style: oblique;
    border: solid 4px;
    border-radius: 30px;
    padding: 1rem;
    width: 40%;
    font-size: 2rem;
    background-color: rgb(221, 194, 41);
    
}
*/

#btnRegistro{
    width: 30%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: solid 3px black;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgb(217, 191, 48);
    font-family:'Buxton Sketch';
    text-decoration: none;
    color: black;
}
#btnRegistro:hover{
    border: solid 3px black;
    border-radius: 10px;
    font-size: 1rem;
    background-color: rgb(255, 153, 0);
    transition: all ease-in-out 250ms;
}
#btnRegistro:disabled{
    background-color: rgb(167, 118, 45);
}



#fillInputs, #nameInput, #appInput, #apmInput, #userInput, #ageInput, #phoneInput, #emailInput, #passInput, #confirmPassInput{
    color: red;
}
















/*//////////////////////////////////////////////////////////////////////*/
/* Responsive(> 1024px) */
@media (max-width: 1024px) {
    .loginForm {
        width: 50%;
    }
    
    h1 {
        width: 50%;
    }
    
    input {
        width: 75%;
    }
    button {
        width: 100%;
    }
}

/* Responsive(> 768px) */
@media (max-width: 768px) {
    .loginForm {
        width: 50%;
    }
    
    h1 {
        width: 80%;
    }
    
    input {
        width: 100%;
    }
    button {
        width: 100%;
    }
}
